/* GENERAL & TYPOGRAPHY */
*{
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 20px;
}
.divider{
    width: 176px;
    height: 2px;
    background-color: #494FCD;
    margin: 25px 0;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.bg{
    background-image: url("images/bg.png");
    background-size: 100%;
}

/* NAVBAR */
.navbar-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
nav{
    
    font-size: 24px;
    color: #716A6A;
    font-weight: bold;
    border-bottom: solid 2px white;
}

/* HOME */
#home{
    height: 880px;
    overflow: hidden;
    padding-top: 80px;
    position: relative;
    bottom: 100px;
}
#home img{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
    z-index: 2;
    position: relative;
    bottom: 1098px;
}
#home #bigBubble{
    width: 535px;
    height: 535px;
    background: linear-gradient(311.56deg, #FFFFFF -10.57%, #AAAAAA -10.56%, #E0F8FF 85.05%);
    box-shadow: 34px 72px 71px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: 1;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 156px;
}
#home .smallBubble{
    width: 50px;
    height: 50px;
    background: linear-gradient(311.56deg, #FFFFFF -10.57%, #AAAAAA -10.56%, #E0F8FF 85.05%);
    box-shadow: 34px 72px 71px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}
#home .mediumBubble{
    width: 108px;
    height: 108px;
    background: linear-gradient(311.56deg, #FFFFFF -10.57%, #AAAAAA -10.56%, #E0F8FF 85.05%);
    box-shadow: 34px 72px 71px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}
#home .b1{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 92px;
    right: 247px;
    z-index: 1;
}
#home .b2{
    display: block;
    margin: 0 auto;
    position: relative;
    left: 325px;
    top: 24px;
    z-index: 1;
}
#home .b3{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 567px;
    left: 372px;
    z-index: 1;
}
#home .b4{
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 39px;
    right: 655px;
    z-index: 1;
}
#home .buttonContent{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 221px;
    height: auto;
    padding: 5px 32px;
    font-size: 28px;
    background-color: white;
}
#home .but-1{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 120px;
    right: 359px;
    z-index: 2;
}
#home .but-1 strong{
    font-weight: 500;
}
#home .but-2{
    width: 302px;
    font-size: 24px;
    text-align: center;
    padding: 26px;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 1708px;
    left: 474px;
    z-index: 2; 
}
#home .but-2 p{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
#home .but-2 ul{
    margin-top: 20px;
    list-style: none;
    text-align: start;
    font-size: 20px;
    line-height: 175%;
}
#home .but-3{
    width: 302px;
    font-size: 24px;
    text-align: center;
    padding: 26px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 200px;
    right: 514px;
    z-index: 2;
}
#home .but-4{
    width: 302px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 26px;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 540px;
    left: 520px;
    z-index: 2;
}
#home .bi-download{
    font-size: 25px;
    margin-left: 20px;
    position: relative;
    top: 1px;
}
#home .bi-download:hover{
    color: #494FCD;
}
#home .infoSup{
    border: 2px solid black;
    border-radius: 3px;
    padding: 15px 20px;
}
#hideInfo{
    display: none;
}
#home .bi-arrow-down{
    font-size: 32px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    border: black solid 2px;
    border-radius: 4px;
    padding: 0 10px;
}
#home .bi-arrow-down:hover{
    font-weight: 900;
    background-color: #494FCD;
    color: white;
}
#home .socialMedia ul{
    position: relative;
    bottom: 454px;
    display: inline-block;
}
#home .socialMedia li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 32px;
    margin-top: 15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
#home .bi{
    color: #524c4c;
    transition: all 0.3s ease-in 0s;
}
#home .bi-facebook:hover{
    color: #0084ff;
}
#home .bi-instagram:hover{
    color: purple;
}
#home .bi-youtube:hover{
    color: #ff0000;
}

/* SKILLS */
#skills{
    margin: 0 200px;
    position: relative;
    bottom: 50px;
}
#skills h1{
    text-align: center;
}
#skills h2{
    text-transform: uppercase;
    margin-bottom: 50px;
}
#skills h2 span{
    color: #494FCD;
}
#skills .gallery{
    margin-bottom: 50px;
}
#skills .galleryCard{
    width: 213px;
}
#skills .galleryImg{
    width: 213px;
    height: 205px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
#skills .galleryCard p, #skills .gallery figure{
    font-size: 20px;
    color: #716A6A;
    margin-top: 25px;
}
#skills figure{
    font-style: italic;
}
#skills .html5{
    background-color: #FFD8D8;
}
#skills .css3{
    background-color: #A5A8F3;
}
#skills .bootstrap{
    background-color: #FDA3FF;
}
#skills .js{
    background-color: #FFF7B0;
}
#skills .jquery{
    background-color: #D2CEFF;
}
#skills .mysql{
    background-color: #FFDFAF;
}
#skills .php{
    background-color: #D5B5FF;
}

/* EXPERIENCE */
#experience{
    padding: 50px;
}
#experience .color-txt-timeline{
    color: #716A6A;
}
#experience .heading h2{
    color: black;
    text-align: center;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline li{
    list-style-type: none;
    margin-top: 10px;
    font-size: 18px;
}
.timeline:before{
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #494FCD;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after{
    content: " ";
    display: table;
}
.timeline > li:after{
    clear: both;
}
.timeline li .timeline-badge{
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #494FCD;
    border-radius: 50%;
}
.timeline li .bi-briefcase-fill{
    color: white;
}
.timeline li .bi-clock-fill{
    color: #716A6A;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: white;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading > *{
    margin-top: 10px;
}
.timeline-heading h4{
    color: #494FCD;
}

/* EDUCATION */
#education{
    margin: 50px 200px;
}
.educationCard{
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 50px 50px;
    text-align: center;
    margin-top: 20px;
}
.educationCard .bi-award-fill{
    font-size: 26px;
}
.educationCard > p:nth-child(1){
    font-weight: bold;
    color: #716A6A;
}
.educationCard h3{
    color:#494FCD;
    margin-bottom: 10px;
}
.educationCard h4{
    font-weight: 500;
}
.button1{
    color: #716A6A;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #716A6A;
    padding: 18px 50px;
    margin-top: 40px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover{
    background-color: #716A6A;
    color: white;
}
.button1 .bi-download{
    margin-left: 10px;
}

/* PORTFOLIO */
#portfolio{
    padding: 50px;
}
#carouselExampleDark{
    margin: 0 200px;
}
#portfolio .carousel-item img{
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    height: 500px;
    object-fit: cover;
}
#portfolio .carousel-caption{
    height: 125px;
}
#portfolio .carousel-caption p{
    color: black;
}
#portfolio .carousel-caption h3{
    color: #494FCD;
    margin: 10px 0;
}
#portfolio .carousel-caption a{
    text-decoration: none;
}

#portfolio .carousel-caption a h3:hover{
    font-weight: bold;
    text-decoration: underline;
}
#portfolio .carousel-caption{
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #e9ecef;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);;
    padding: 0 20px;
}

/* RECOMMENDATIONS */
#recommendations{
    margin: 50px 200px;
}
#recommendations .heading h2{
    color: rgb(49, 12, 88);
}
#recommendations #myCarousel .carousel-item{
    padding: 30px 30px 90px;
    height: 300px;
}
#recommendations #myCarousel .carousel-item h3{
    color: rgb(49, 12, 88);
    font-style: italic;
    padding-bottom: 25px;
}
#recommendations #myCarousel .carousel-inner{
    width: 80%;
    margin: 0 auto;
}

/* CONTACT */
#contact{
    padding: 50px 0;
}
#contact .heading h2{
    color: black;
}
#contact-form {
    font-size: 20px;
    color: black;
}
.form-control {
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}
.comments {
    font-style: italic;
    font-size: 18px;
    color: black;
    height: 25px
}
#contact-form .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
#contact .button1{
    color: black;
    border-color: gray;
    border-radius: 10px;
}
#contact .button1:hover {
    background-color: gray;
    color: white;
}
/* FOOTER */
footer{
    background-color: #333;
    padding: 20px 0 40px;
}
footer span{
    color: white;
    font-size: 25px;
    line-height: 30px;
}
footer span:hover{
    color: white;
}
footer h5{
    color: white;
    font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1399px) {
    /* NAVBAR */
    nav li{
        font-size: 20px;
        margin-right: 20px;
    }
    /* HOME */
    #home {
        height: 700px;
    }
    #home .but-1 {
        top: 80px;
        right: 278px;
    }
    #home .but-2 {
        bottom: 1655px;
        left: 425px;
    }
    #home .but-3{
        top: 144px;
        right: 335px;
    }
    #home .but-4{
        bottom: 736px;
        left: 428px;
    }
    #home .b1 {
        top: 52px;
        right: 386px;
    }
    #home .b2 {
        left: 273px;
    }
    #home .b3 {
        top: 288px;
        left: 281px;
    }
    #home .b4{
        right: 480px;
        top: -89px;
    }
    #home .socialMedia ul {
        bottom: 630px;
    }
    #home img {
        width: 350px;
    }
    /* EDUCATION */
    #education{
        margin: 50px 100px;
    }
    /* RECOMMENDATIONS */
    #recommendations{
        margin: 50px 100px;
     }
}
@media screen and (max-width: 1199px) {
    /* NAVBAR */
    nav{
        padding: 10px 40px;
    }
    nav li{
        font-size: 16px;
        margin-right: 15px;
    }
    nav ul {
        display: flex;
    }
    /* HOME */
    #home {
        height: 700px;
    }
    #home p, #home .but-4 {
        font-size: 20px;
    }
    #hideInfo li{
        font-size: 18px;
        margin-left: 15px;
    }
    #home .but-1 {
        padding: 10px 40px;
    }
    #home .but-2 {
        bottom: 1599px;
        left: 290px;
    }
    #home .but-3{
        top: 43px;
        right: 290px
    }
    #home .but-4{
        padding: 15px;
        bottom: 665px;
        left: 325px;
    }
    #home .b2 {
        left: 141px;
    }
    #home .b3 {
        top: 331px;
        left: 471px;
    }
    #home .b4{
        right: 424px;
        top: -166px;
    }
    #home .socialMedia ul {
        bottom: 585px;
    }
    #home img {
        bottom: 1038px;
    }
    /* SKILLS */
    #skills{
        margin: 0px 100px;
    }
    /* PORTFOLIO */
    #carouselExampleDark{
        margin: 0 100px;
    }
    #portfolio {
        padding: 50px 0;
    }
    /* RECOMMENDATIONS */
    #recommendations {
        margin: 50px 0;
    }
}
@media screen and (max-width: 991px) {
    nav li {
        font-size: 20px;
        margin: 0;
    }
    #hideUl {
        display: none;
    }
    #buttonNav{
        display: flex;
        margin-top: 10px;
    }
    nav{
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: 10px 20px;
    }
    /* HOME */
    
    #home .but-1 {
        right: 262px;
    }
    #home .but-2 {
        left: 223px;
    }
    #home .but-3{
        width: 230px;
        right: 224px;
    }
    #home .but-4{
        font-size: 16px;
        padding: 0;
        width: 190px;
        left: 270px;
    }
    #home .b2 {
        left: 76px;
    }
    #home .b3 {
        left: 365px;
        top: 364px;
    }
    #home .b4{
        right: 309px;
        top: -185px;
    }
    #home .socialMedia ul {
        bottom: 611px;
    }
    #home img{
        bottom: 1016px;
    }
}
@media screen and (max-width: 767px) {
    /* HOME */
    #home {
        height: 600px;
    }
    #home p, #home .but-4, #home .bi-arrow-down, #hideInfo li {
        font-size: 16px;
    }
    #home .but-1 {
        right: 175px;
        width: 170px;
    }
    #home .but-2 {
        bottom: 1282px;
        width: 235px;
        padding: 15px;
        left: 172px;
    }
    #home .but-2 ul{
        padding-left: 0;
    }
    #home .but-3{
        width: 200px;
        right: 179px;
        top: -7px;
    }
    #home .but-4{
        left: 212px;
        bottom: 578px;
    }
    #home .b1 {
        top: -10px;
        right: 255px;
    }
    #home .b2 {
        left: 56px;
        top: 6px;
    }
    #home .b3 {
        left: 304px;
        top: 285px;
    }
    #home .b4{
        right: 88px;
        top: -219px;
    }
    #home .socialMedia ul {
        z-index: 1;
        bottom: 531px;
    }
    #home img {
        width: 250px;
        bottom: 830px;
    }
    #home #bigBubble {
        width: 400px;
        height: 400px;
    }
    /* SKILLS */
    #skills .galleryCard p {
        font-size: 18px;
    }
    /* EXPERIENCES PRO */
    #experience {
        padding: 50px 0;
    }
    .timeline-panel {
        width: 100%;
        padding: 20px;
    }
    /* PORTFOLIO */
    #carouselExampleDark{
        margin: 0 50px;
    }
}

@media screen and (max-width: 575px) {
    /* EXPERIENCES PRO */
    .timeline-heading h3,.timeline-heading h4, .timeline-heading > p{
        font-size: 16px;
    }

    .timeline-body ul{
        display: none;
    }
}
